.card {
    max-width: 15rem;
}

.image {
    max-width: 20rem;
    height: auto;
    border-radius: 1rem;
}

.menuBtn {
    width: 2rem;
    height: 2rem;
    position: absolute;
    bottom: 75%;
    right: 70%;
    border-radius: 50%;
    border: none;
    background: aquamarine;
    opacity: 80%;
    cursor: pointer;
}

.ava {
    position: absolute;
    top: 27%;
    left: 0%;
    width: 4rem;
    border-radius: 50%;
}

.text {
    position: absolute;
    top: 29%;
    left: 8%;
}