.head-logo {
    border-radius: 50%;
}
.input-group {
    border-radius: 50%;
}
.btn.btn-secondary {
    background-color: black;
}
.dropdown-menu.active {
display: block;
}
.btn.btn-dark {
    height: 38px;
}
#dropdown {
    height: 38px;
}
