@media screen and (max-width: 540px) {
    #header {
        display:flex;
        flex-wrap: wrap;
        #input-header {
            max-width: 90%;
            padding-top: 1rem;
            order: 90;
        }
    }
   
}